.header {
  background-color: white;
}

.inner{
  max-width: var(--max-width);;
  margin: auto;
  padding: var(--spacing);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  justify-self: flex-end;
}

.list {
  display: flex;
  gap: 4rem;
}

.list a {
  text-decoration: none;
  /* color: var(--color-primary-400); */
}